/*
- transform(변환)은 요소에 특정 변형 효과를 지정한다. 일반적으로 2d 변형은 4가지가 쓰인다. 변환 속성은 주변 요소에 영향을 주지 않는다.
1. translate : 요소의 위치를 이동 시칸다. x,  y 좌표를 각각 지정할 수 있고, 좌표 없이 (xpx, ypx) 방식으로 함께 지정할 수도 있다.
2. scale : 요소의 크기를 변화 시킨다. x,  y 좌표를 각각 지정할 수 있고, 좌표 없이 (x, y) 방식으로 함께 지정할 수도 있다.
3. skew: 요소를 특정 각도로 비튼다.  x,  y 좌표를 각각 지정할 수 있고, 좌표 없이 (x, y) 방식으로 함께 지정할 수도 있다.
skewX는 x축을 고정시키고 세로를 비틀고, skewY는 y축을 고정시키고 가로를 비튼다고 이해하면 된다.
4. rotate : 요소를 특정 각도로 돌린다. x, y축을 지정하면 해당 축을 기준으로 돌리게 되고, 둘 모두를 축약으로 지정하게 되면 중앙축이 적용되어 돌린다.
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.outer{
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.inner{
    width: 100px;
    height: 100px;
    background: yellow;
    _margin: 50px auto;
}

div.outer1>div.inner{
    transform:translate(50px, 50px);
}

div.outer2>div.inner{
    _transform:scaleX(1.5);
    _transform:scaleY(2);
    _transform: scale(1.5, 2);
    transition: all  0.4s ease;
}

div.outer2:hover>div.inner{
    transform: scale(1.2);
}

div.outer3>div.inner{
    _transform: skewX(40deg);
    _transform: skewY(30deg);
    transform: skew(40deg, 30deg);
}

div.outer4>div.inner{
    _transform: rotateX(40deg);
    _transform: rotateY(50deg);
    transform-origin: top left;
    transform: rotate(40deg);
}