@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a {
  outline: 0;
  text-decoration: none;
  color: #555;
}
img {
  border: 0;
}
html,
body {
  font: 12px/1.6 "Poiret One";
  color: #555;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
/* ============Header Style============= */
header {
  position: fixed;
  width: 15%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
/* ============Logo Style============= */
header h1 {
  width: 180px;
  height: 136px;
  background: url(../img/logo1.png) no-repeat 0 0;
  background-size: contain;
  _background-repeat: no-repeat;
  _background-position: 0 0;
  text-indent: -9999px;
  /* text-indent: 들여쓰기 => 음수 값이면 화면 좌측, 양수 값이면 화면 우측으로 들여쓴다 */
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -90px;
}

#gnb {
  position: absolute;
  top: 300px;
  right: 57px;
}

#gnb a {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #555;
  line-height: 1.8;
  padding: 8px 30px;
  transition: all 0.5s ease;
}

#gnb a:hover {
  color: skyblue;
}

.snsSet {
  position: absolute;
  bottom: 50px;
  width: 90px;
  height: 47px;
  right: 50%;
  margin-right: -45px;
}
.snsSet a {
  float: left;
}

#gnb a i {
  margin-right: 13px;
}

/* ============Nav Style============= */
nav {
  position: relative;
  width: 85%;
  height: 35px;
  background: #212121;
  margin-left: 15%;
  transition: all 0.5s ease;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

nav > div {
  padding-top: 2px;
  display: flex;
  align-items: center;
}
/* ============Section Style============= */
section {
  width: 85%;
  position: relative;
  margin-left: 15%;
  background: #ddd;
}

/* ============Article Style============= */
article {
  width: 20%;
  height: 260px;
  float: left;
  transition: all 0.5s ease;
  animation: scale 1s 1;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

article:nth-child(1) {
  background: #aaa;
  width: 60%;
  height: 520px;
}
article:nth-child(2) {
  background: #bbb;
  width: 40%;
}
article:nth-child(3) {
  background: #ccc;
}
article:nth-child(4) {
  background: #ddd;
}
article:nth-child(5) {
  background: #999;
}
article:nth-child(6) {
  background: #888;
  width: 40%;
}
article:nth-child(7) {
  background: #777;
}
article:nth-child(8) {
  background: #666;
}
article:nth-child(9) {
  background: #555;
  width: 40%;
}
article:nth-child(10) {
  background: #444;
}
article:nth-child(11) {
  background: #333;
}
article:nth-child(12) {
  background: #222;
}

/* =========== Common Header 0px ~ 1599px ============= */
@media screen and (max-width: 1599px) {
  /* =======header styel========= */
  header {
    position: relative;
    width: 100%;
    height: 80px;
  }

  header h1 {
    width: 200px;
    height: 40px;
    background-image: url(../img/logo2.png);
    left: 20px;
    top: 20px;
    margin-left: 0;
  }
  #gnb {
    top: 20px;
  }

  #gnb li {
    float: left;
    width: 100%;
  }
  .snsSet {
    bottom: 20px;
    right: 80px;
  }
  nav {
    width: 100%;
    margin-left: 0;
  }
  section {
    width: 100%;
    margin-left: 0;
  }
}

/* =========== Screen Size 1024px ~ 1279px ============= */

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  /* =======Header Box style========= */
  #gnb {
    right: 30px;
  }

  .snsSet {
    display: none;
  }

  /* =======Article Box style========= */
  article {
    width: 25%;
  }

  article:nth-child(1) {
    background: #aaa;
    width: 75%;
    height: 520px;
  }
  article:nth-child(2) {
    background: #bbb;
    width: 25%;
  }
  article:nth-child(3) {
    background: #ccc;
  }
  article:nth-child(4) {
    background: #ddd;
  }
  article:nth-child(5) {
    background: #999;
  }
  article:nth-child(6) {
    background: #888;
    width: 50%;
  }
  article:nth-child(7) {
    background: #777;
    width: 50%;
  }
  article:nth-child(8) {
    background: #666;
  }
  article:nth-child(9) {
    background: #555;
    width: 25%;
  }
  article:nth-child(10) {
    background: #444;
    width: 50%;
  }
  article:nth-child(11) {
    background: #333;
  }
  article:nth-child(12) {
    background: #222;
  }
}

/* =========== Screen Size 780px ~ 1023px ============= */
@media screen and (min-width: 780px) and (max-width: 1023px) {
  /* =======Header Box style========= */
  #gnb {
    right: 10px;
  }

  #gnb a {
    padding: 10px;
  }

  .snsSet {
    display: none;
  }

  /* =======Article Box style========= */
  article {
    width: 33.33%;
  }

  article:nth-child(1) {
    background: #aaa;
    width: 100%;
    height: 400px;
  }
  article:nth-child(2) {
    background: #bbb;
    width: 66.66%;
  }
  article:nth-child(3) {
    background: #ccc;
  }
  article:nth-child(4) {
    display: none;
  }
  article:nth-child(5) {
    background: #999;
  }
  article:nth-child(6) {
    background: #888;
    width: 66.66%;
  }
  article:nth-child(7) {
    display: none;
  }
  article:nth-child(8) {
    background: #666;
    width: 33.33%;
  }
  article:nth-child(9) {
    background: #555;
    width: 33.33%;
  }
  article:nth-child(10) {
    display: none;
  }
  article:nth-child(11) {
    background: #333;
  }
  article:nth-child(12) {
    display: none;
  }
}

/* =========== Screen Size 640px ~ 779px ============= */
@media screen and (min-width: 640px) and (max-width: 779px) {
  /* =======Header Box style========= */
  #gnb {
    right: 10px;
  }
  #gnb a {
    padding: 10px;
  }
  .snsSet {
    display: none;
  }

  /* =======Article Box style========= */
  article {
    width: 50%;
  }
  article:nth-child(1) {
    background: #aaa;
    width: 100%;
    height: 400px;
  }
  article:nth-child(2) {
    background: #bbb;
    width: 100%;
  }
  article:nth-child(3) {
    background: #ccc;
    display: none;
  }
  article:nth-child(4) {
    display: none;
  }
  article:nth-child(5) {
    background: #999;
    width: 50%;
  }
  article:nth-child(6) {
    background: #888;
    width: 50%;
  }
  article:nth-child(7) {
    display: none;
  }
  article:nth-child(8) {
    background: #666;
    width: 50%;
  }
  article:nth-child(9) {
    background: #555;
    width: 50%;
  }
  article:nth-child(10) {
    display: none;
  }
  article:nth-child(11) {
    background: #333;
  }
  article:nth-child(12) {
    background: #222;
    width: 50%;
  }
}

/* =========== Screen Size 480px ~ 639px ============= */
@media screen and (min-width: 480px) and (max-width: 639px) {
  /* =======header style========= */
  header {
    height: 130px;
  }
  header h1 {
    position: relative;
    top: 20px;
    width: 200px;
    height: 45px;
    margin: auto;
    left: 0;
  }
  #gnb {
    position: relative;
    height: 65px;
    left: 0;
    padding: 10px 0 0 0;
  }

  #gnb li {
    float: left;
    width: 25%;
  }

  #gnb a {
    padding: 5px;
    text-align: center;
  }
  .snsSet {
    display: none;
  }

  nav {
    display: none;
  }

  /* =======Article style========= */
  article {
    width: 50%;
    height: 150px;
  }
  article:nth-child(1) {
    background: #aaa;
    width: 100%;
    height: 300px;
  }
  article:nth-child(2) {
    background: #bbb;
    width: 100%;
  }
  article:nth-child(3) {
    background: #ccc;
    display: none;
  }
  article:nth-child(4) {
    display: none;
  }
  article:nth-child(5) {
    background: #999;
    width: 50%;
  }
  article:nth-child(6) {
    background: #888;
    width: 50%;
  }
  article:nth-child(7) {
    display: none;
  }
  article:nth-child(8) {
    background: #666;
    width: 50%;
  }
  article:nth-child(9) {
    background: #555;
    width: 50%;
  }
  article:nth-child(10) {
    display: none;
  }
  article:nth-child(11) {
    background: #333;
  }
  article:nth-child(12) {
    background: #222;
    width: 50%;
  }
}

/* =========== Screen Size 0px ~ 479px ============= */
@media screen and (max-width: 479px) {
  header {
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 2;
  }

  header h1 {
    width: 140px;
    top: 20px;
    left: 50%;
    margin-left: -70px;
    background-image: url(../img/logo1.png);
    height: 136px;
    background-size: contain;
  }
  #gnb {
    width: 250px;
    top: 140px;
    right: 50%;
    margin-right: -125px;
  }

  #gnb li {
    float: 0;
  }
  #gnb a {
    width: 100%;
    background: #000;
    opacity: 0.5;
    margin: 8px 0;
    border-radius: 10px;
    color: #fff;
  }
  #gnb a:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  .snsSet {
    display: none;
  }

  nav {
    display: none;
  }

  article {
    display: none;
  }
  article:nth-child(1) {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
