/*
- transition(전환)은 한 요소에 적용된 스타일의 속성값을 다른 속성값으로 변하게 하는 것을 말한다.

1. transition-property : 전환 대상을 지정한다. 일반적으롤 all로 모두 지정한다.
전환 대상 속성 참조 : https://www.w3schools.com/cssref/css_animatable.asp
2. transition-duration : 전환이 진행되는 시간을 지정한다.
3. transition-delay : 전환이 진행되기 전 지정 시간을 대기시킨다. 보통 잘 사용되진 않는다.
4. transition-timing-function : 전환이 진행되는 속도를 지정한다. 특히 cubic-bezier는 속도를 지정할 수 있다.
*/

div{
    width: 200px;
    height: 200px;
    background: red;
    _transition-property: background, width;
    _transition-duration: 3s;
    _transition-delay: 0.5s;
    _transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.4s ease;
}

div:hover{
    background: blue;
    width: 400px;
}
